openapi: 3.0.1
info:
  description: Test API
  title: Test
  version: '1'
  contact:
    name: Fabian Fuelling
    email: api@fabfuel.de
servers:
- url: https://api.fabfuel.de/test
tags:
- name: Message
  description: Message sending
- description: Static file content
  name: Static Files
- name: CORS
  description: CORS configuration endpoints
paths:
  /-/message:
    post:
      operationId: createMessage
      description: Create a new message
      tags:
      - Message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UserCreated'
              - $ref: '#/components/schemas/ProjectCreated'
              discriminator:
                propertyName: message
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UserCreated'
                - $ref: '#/components/schemas/ProjectCreated'
                - $ref: '#/components/schemas/MessageList'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 400
                    description: Deprecated HTTP status code
                  message:
                    type: string
                    example: Bad Request
                    description: Deprecated human readable error message
                  error:
                    type: string
                    example: Bad Request
                    description: Deprecated machine readable error message
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                  status:
                    type: integer
                    example: 400
                    description: HTTP status code
                  name:
                    type: string
                    example: Bad Request
                    description: HTTP status name
                  path:
                    type: string
                    example: /pm/v1/foobar
                    description: Path of where the error occurred
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Invalid value
                          description: Human readable error message
                        errorCode:
                          type: string
                          example: SomeCustomError
                          description: Machine readable error code of what happened
                        path:
                          type: string
                          example: /pm/v1/foobar
                          description: Path of where the error occurred
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 404
                    description: Deprecated HTTP status code
                  message:
                    type: string
                    example: Can not get entity /tasks/123
                    description: Deprecated human readable error message
                  error:
                    type: string
                    example: Not Found
                    description: Deprecated machine readable error message
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                  status:
                    type: integer
                    example: 400
                    description: HTTP status code
                  name:
                    type: string
                    example: Bad Request
                    description: HTTP status name
                  path:
                    type: string
                    example: /pm/v1/foobar
                    description: Path of where the error occurred
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Invalid value
                          description: Human readable error message
                        errorCode:
                          type: string
                          example: SomeCustomError
                          description: Machine readable error code of what happened
                        path:
                          type: string
                          example: /pm/v1/foobar
                          description: Path of where the error occurred
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 500
                    description: Deprecated HTTP status code
                  message:
                    type: string
                    example: Internal Server Error
                    description: Deprecated human readable error message
                  error:
                    type: string
                    example: Internal Server Error
                    description: Deprecated machine readable error message
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                  status:
                    type: integer
                    example: 400
                    description: HTTP status code
                  name:
                    type: string
                    example: Bad Request
                    description: HTTP status name
                  path:
                    type: string
                    example: /pm/v1/foobar
                    description: Path of where the error occurred
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Invalid value
                          description: Human readable error message
                        errorCode:
                          type: string
                          example: SomeCustomError
                          description: Machine readable error code of what happened
                        path:
                          type: string
                          example: /pm/v1/foobar
                          description: Path of where the error occurred
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      x-amazon-apigateway-request-validator: all
      parameters:
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: POST
        uri: https://integration.com/-/message
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '400':
            statusCode: '400'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '404':
            statusCode: '404'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /-/messageCORS
      description: /-/message CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: POST,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''POST,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /api.v1.yml:
    get:
      tags:
      - Static Files
      responses:
        '200':
          description: Static file api.v1.yml
          headers:
            Content-Type:
              schema:
                example: text/yaml
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Content-Type
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      parameters:
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/api.v1.yml
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Content-Type: integration.response.header.Content-Type
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
              method.response.header.Access-Control-Expose-Headers: '''Content-Type'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /api.v1.ymlCORS
      description: /api.v1.yml CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
components:
  schemas:
    MessageList:
      type: array
      items:
        type: object
        additionalProperties: true
    UserCreated:
      type: object
      properties:
        recipients:
          type: array
          minItems: 1
          example:
          - urn:pm:users:pm.demo:user/1234-123456-123456-1234
          - urn:pm:users:pm.demo:role/customer
          items:
            type: string
            pattern: ^urn:[\w-]+:[\w.-]*:[\w.-]*:[\w-]+\/[^\/]+(\/[^\/]+)*$
            example: urn:pm:service::foobar/d9a6fc2e-a4b3-4fba-9f20-c5bd2fdb5071
        subject:
          type: string
        message:
          type: string
          enum:
          - UserCreated
          - ProjectCreated
        parameters:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
          additionalProperties: false
          required:
          - name
          - email
      additionalProperties: false
      required:
      - recipients
      - subject
      - message
      - parameters
    ProjectCreated:
      type: object
      properties:
        recipients:
          type: array
          minItems: 1
          example:
          - urn:pm:users:pm.demo:user/1234-123456-123456-1234
          - urn:pm:users:pm.demo:role/customer
          items:
            type: string
            pattern: ^urn:[\w-]+:[\w.-]*:[\w.-]*:[\w-]+\/[^\/]+(\/[^\/]+)*$
            example: urn:pm:service::foobar/d9a6fc2e-a4b3-4fba-9f20-c5bd2fdb5071
        subject:
          type: string
        message:
          type: string
          enum:
          - UserCreated
          - ProjectCreated
        parameters:
          type: object
          properties:
            label:
              type: string
            start:
              type: string
              format: datetime
          additionalProperties: false
          required:
          - label
          - start
      additionalProperties: false
      required:
      - recipients
      - subject
      - message
      - parameters
x-amazon-apigateway-request-validators:
  all:
    validateRequestParameters: true
    validateRequestBody: true
x-amazon-apigateway-minimum-compression-size: 0
